<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/coments.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Comentarios</title>
    <!-- Iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="contable">
        <input type="text" id="buscar" placeholder="Buscar">
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Edad</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>

    <script src="/controller/coments.js"></script>
</body>

</html>