@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

.contable {
    padding: 5rem;
}

.contable input {
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr th {
    border: solid 2px #f0f0f0;
    padding: 1.5rem 2rem;
}

table thead tr th {
    font-size: 15px;
    font-weight: 900;
}

table tbody tr th {
    font-size: 13px;
    font-weight: 500;
}

table tbody tr th:last-child {
    width: 700px;
    flex: 0 0 auto;
}

table tbody tr th img {
    border-radius: 10px;
}

.filtro {
    display: none;
}

@media (width < 1100px) {
    .contable {
        padding: 5rem 1rem;
        overflow: hidden;
        overflow-x: auto;
    }
}